- const { nav, owner, copyright, custom_text } = theme.footer

.footer-top
  .footer-top-inner(style='display:flex; justify-content:space-between; align-items:center;')
    // Left: Logo
    .footer-logo
      img(src='/img/logo.png' alt='footer logo' style='height:85px;')

    // Right: Buttons
    .footer-buttons
      a(href='/contact/' class='footer-btn') Contact Us
      a(href='/demo/' class='footer-btn primary') Request Demo

if nav
  .footer-flex
    for block in nav
      .footer-flex-items(style=`${ block.width ? 'flex-grow:' + block.width : '' }`)
        for blockItem in block.content
          .footer-flex-item
            .footer-flex-title= blockItem.title
            .footer-flex-content
              for subitem in blockItem.item
                if subitem.html
                  div!= subitem.html
                else if subitem.url
                  a(href=url_for(subitem.url), target='_blank' title=subitem.title)= subitem.title
                else if subitem.title
                  div!= subitem.title
.footer-other
  .footer-copyright
    span.copyright
      img(src='/img/footer-logo.png' alt='footer logo' style='height:60px; margin-right:8px; vertical-align:middle;')
      | Copyright #{new Date().getFullYear()} QBO. All rights reserved.
