if theme.menu
  .menus_items
    each value, label in theme.menu
      if typeof value !== 'object'
        - const [link, icon] = value.split('||').map(part => trim(part))
        - const menuClass = 'menu-' + label.toLowerCase().replace(/\s+/g, '-') // generate class from label
        .menus_item(class=menuClass)
          a.site-page(href=url_for(link))
            if icon
              i.fa-fw(class=icon)
            span= ' ' + label
      else
        - const [groupLabel, groupIcon, groupClass] = label.split('||').map(part => trim(part))
        - const hideClass = groupClass === 'hide' ? 'hide' : ''
        - const groupMenuClass = 'menu-group-' + groupLabel.toLowerCase().replace(/\s+/g, '-')
        .menus_item
          span.site-page.group(class=`${hideClass} ${groupMenuClass}`)
            if groupIcon
              i.fa-fw(class=groupIcon)
            span= ' ' + groupLabel
            i.fas.fa-chevron-down
          ul.menus_item_child
            each val, lab in value
              if typeof val === 'string'
                - const [childLink, childIcon] = val.split('||').map(part => trim(part))
                - const childMenuClass = 'menu-child-' + lab.toLowerCase().replace(/\s+/g, '-')
                li(class=childMenuClass)
                  a.site-page.child(href=url_for(childLink))
                    if childIcon
                      i.fa-fw(class=childIcon)
                    span= ' ' + lab
              else
                - const childMenuClass = 'menu-child-' + lab.toLowerCase().replace(/\s+/g, '-')
                li.has-submenu(class=childMenuClass)
                  span.site-page.child
                    | #{lab}
                    i.fas.fa-chevron-right
                  ul.menus_item_child
                    each subval, sublab in val
                      - const [subLink, subIcon] = subval.split('||').map(part => trim(part))
                      - const subMenuClass = 'menu-sub-' + sublab.toLowerCase().replace(/\s+/g, '-')
                      li(class=subMenuClass)
                        a.site-page.child(href=url_for(subLink))
                          if subIcon
                            i.fa-fw(class=subIcon)
                          span= ' ' + sublab
